div.chat {
  height: 100vh;
  width: 100vw;
  background-color: #F1F1F1;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.chat div.chat-box {
  position: relative;
  width: 85%;
  height: 85%;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(14,25,80,.30);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

div.chat div.chat-box div.chat-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 75%;
}

div.chat div.chat-box div.chat-section div.conversation {
  height: calc(100% - 55px);
}
div.chat div.chat-box div.chat-section div.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  width: 100%;
  padding: 0px 20px;
  background-color: #FFFFFF;
}

div.chat div.chat-box div.chat-section div.header div.logout {
  padding: 0px 5px;
} 
div.chat div.chat-box div.chat-section div.header div.logout button {
  font-size: 13px;
  font-weight: 400;
  color: #ef7771;
  border: none;
  cursor: pointer;
}
div.chat div.chat-box div.chat-section div.header div.infos {
  display: flex;
  flex-direction: row;
  align-items: center;
}
div.chat div.chat-box div.chat-section div.header div.infos h5 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 2px;
  color: #3c4258;
}
div.chat div.chat-box div.chat-section div.header div.dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 10px;
  background-color: #2ABF7A;
  position: relative;
}

@media screen and (max-width: 900px) {
  div.chat div.chat-box {
    width: 100%;
    height: 100%;
  }

  div.chat div.chat-box div.chat-section {
    width: 65%;
  }
}